{% extends "base.html" %} {% block title %} About Page {% endblock %}
{% block content %}
<h2>ABOUT</h2>
<p>Welcome to the home page!</p>
<p>This website is intended as a tool to help Starfield players plan out how many of which resources they will require to construct the outpost modules they want. I made this tool because it was frustrated at always missing <i>something</i> when I was trying to build a new outpost, and manually looking up the resource cost on the wiki or was too much of a chore. Hopefully this helps others!</p>
<p>(Yes, I know in-game console commands exist, but I strive to not use them.)</p>
<p>HOW TO USE:</p>
<p>The list of modules you select should update the URL, so in order to save or share your outpost module list, just bookmark or otherwise save the URL.</p>
<p>No account creation required for a tool this simple.</p>
{% endblock %}