{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
{% load static %}
<script src="{% static 'outpost_planner_app_home.js' %}"></script>
<h1>HOME</h1>
<h2>Outpost Modules</h2>
<p>[TODO: dynamically populate list of existing modules from URL request]</p>
<p>[TODO: create user interface to add/remove outpost modules from list]</p>
<p>[TODO: only add to the count of the outpost module if it's already in the list]</p>
<p>[TODO: add more than one kind of outpost module option]</p>
<p>[TODO: follow up on best practices for serving staticfiles (<a href="https://docs.djangoproject.com/en/5.1/howto/static-files/deployment/">see docs</a>)]</p>
<br>
<div id="selected_resource_cost">[TODO: include other template?]</div>
<br>
Resource Itemization Totals:
{% include "outpost_modules_itemization.html" with modules=modules recipes=recipes %}
{% endblock %}
