<br>
[TODO: RESOURCE ITEMIZATION TOTALS HERE]
<table>
    <tr>
        <th>Remove</th>
        <th>Count</th>
        <th>Outpost Module Name</th>
        <th>Required Resources</th>
        <th>Power Value</th>
    </tr>
    <tr>
        <td>
            <input type="button" value="Delete">
        </td>
        <td>
            {{num}}
        </td>
        <td>
            {{module_name}}
        </td>
        <td>
            requires {{resources}}
        </td>
        <td>
            {{power}}
        </td>
    </tr>
</table>
