<br>
[TODO: RESOURCE ITEMIZATION TOTALS HERE]
<table>
    <tr>
        <th>Remove |</th>
        <th>Count |</th>
        <th>Outpost Module Name |</th>
        <th>Resources to Craft |</th>
        <th>Power Value</th>
    </tr>
    {% for om in modules %}
    <tr>
        <td>
            <input type="button" value="Delete">
        </td>
        <td>
            quantity=1
        </td>
        <td>
            module_name={{om.name}}
        </td>
        <td>
            required_resources=TBD
        </td>
        <td>
            power_modification=TBD
        </td>
    </tr>
    {% endfor %}
</table>
