    <tr id="row{{rowIndex}}">
        <td>
            <input id="delete{{rowIndex}}" type="button" value="Delete" onclick="deleteOutpostModuleLine(this.parentNode.parentNode.rowIndex)">
        </td>
        <td>
            <input id="num{{rowIndex}}"
                   type="number"
                   value="0"
                   min="1"
                   max="99"
                   required
                   onchange="outpostModuleSelectionChanged(this.parentNode.parentNode.rowIndex)">
            <script>setValue("num{{rowIndex}}", {{moduleCount}});</script>
        </td>
        <td>
            <select id="outpostModuleName{{rowIndex}}"
                    required
                    onchange="outpostModuleSelectionChanged(this.parentNode.parentNode.rowIndex)">
                    <option value="----------">----------</option>
                    {% for om in modules %}
                        <option value="{{ om.moduleID }}">{{om.name}}</option>
                    {% endfor %}
            </select>
            <script>setValue("outpostModuleName{{rowIndex}}", {{moduleID}});</script>
        </td>
        <td id="requires{{rowIndex}}"></td>
        <td id="power{{rowIndex}}"></td>
    </tr>
