<tr id="row{{rowIndex}}">
        <td>
            <input id="delete{{rowIndex}}" type="button" value="Delete" onclick="deleteOutpostModuleLine({{rowIndex}})">
        </td>
        <td>
            <input id="num{{rowIndex}}"
                   type="number"
                   value="0"
                   min="1"
                   max="99"
                   required
                   onchange="outpostModuleSelectionChanged()">
            <script>setValue("num{{rowIndex}}", {{moduleCount}});</script>
        </td>
        <td>
            <select id="outpostModuleName{{rowIndex}}"
                    required
                    onchange="outpostModuleSelectionChanged()">
                    <option value="0">----------</option>
                    {% for om in modules %}
                        <option value="{{ om.moduleID }}">{{om.name}}</option>
                    {% endfor %}
            </select>
            <script>setValue("outpostModuleName{{rowIndex}}", {{moduleID}});</script>
        </td>
        <td id="requires{{rowIndex}}">
            {% for item in cost %}
                {{item}}<br>
            {% endfor %}
        </td>
        <td id="power{{rowIndex}}" align="center">{{power}}</td>
    </tr>
