        <tr id="row{{rowIndex}}">
            <td>
                <input type="button" value="Add New" onclick="addOutpostModuleLine()">
            </td>
            <td>
                <div id="outpostModuleCountSum">{{outpostModuleCountSum}}</div>
            </td>
            <td>
                <div id="uniqueOutpostModules">{{uniqueOutpostModules}}</div>
            </td>
            <td>
                <div id="requiredResources">
                    {% for item in requiredResources %}
                        {{item}}<br>
                    {% endfor %}
                </div>
            </td>
            <td align="center">
                <div id="powerValue">{{powerValue}}</div>
            </td>
        </tr>