        <tr id="row{{rowIndex}}">
            <td>
                <input type="button" value="Add New" onclick="addOutpostModuleLine(this.parentNode.parentNode.rowIndex)">
            </td>
            <td>
                <div id="outpostModuleCountSum">{{outpostModuleCountSum}}</div>
            </td>
            <td>
                <div id="uniqueOutpostModules">{{uniqueOutpostModules}}</div>
            </td>
            <td>
                <div id="requiredResources">{{requiredResources}}</div>
            </td>
            <td>
                <div id="powerValue">{{powerValue}}</div>
            </td>
        </tr>